---
import MainLayout from '../layouts/MainLayout.astro';
import ModuleTop from '../components/ModuleTop.astro';
import photoOne from "../img/photoOne.jpeg";
import photoTwo from "../img/photoTwo.jpeg";
import photoThree from "../img/photoThree.jpeg";
import photoFour from "../img/photoFour.jpeg";
import photoFive from "../img/photoFive.jpeg";
import photoSix from "../img/photoSix.jpg";
import photoSeven from "../img/photoSeven.jpg";
import { Image } from "astro:assets";
---

<MainLayout title="Galerie | Thai Sensation">
            <ModuleTop title="Galerie"/>
                <div class="gallery-photos">
                            <div>
                                <a href="/dist/_astro/photoFourS.5ae69ccf.jpeg" class="fancybox" data-fancybox="gallery">
                                        <Image src={photoFour} alt="photoFour" width="300" height="370" loading="eager"/>
                                </a>
                            </div>
                            <div class="v-stretch">
                                <a href="dist/_astro/photoFourS.5ae69ccf.jpeg" class="fancybox" data-fancybox="gallery">
                                        <Image src={photoOne} alt="photoOne" width="300" height="270" loading="eager"/>
                                    </a>
                                </div>
                                
                                <div>
                                    <a href="src/img/photoTwo.jpeg" class="fancybox" data-fancybox="gallery">
                                            <Image src={photoTwo} alt="photoTwo" width="300" height="270" loading="eager"/>
                                        </a>
                                    </div>
                                   
                                       <div>
                                        <a href="src/img/photoSeven.jpg" class="fancybox" data-fancybox="gallery">
                                            <Image src={photoSeven} alt="photoSeven" width="300" height="380" loading="eager"/>
                                        </a>
                                    </div>
                                    <div >
                                        <a href="src/img/photoFive.jpeg" data-fancybox="gallery" data-slug="cat">
                                                <Image src={photoFive} alt="photoFive" width="300" height="380" loading="eager"/>
                                            </a>
                                        </div>
                                       <div>
                                        <a href="src/img/photoThree.jpeg" class="fancybox" data-fancybox="gallery">
                                                <Image src={photoThree} alt="photoThree" width="300" height="380" loading="eager"/>
                                            </a>
                                        </div>
                                  
                                    <div class="h-stretch">
                                        <a href="src/img/photoSix.jpg" class="fancybox" data-fancybox="gallery">
                                            <Image src={photoSix} alt="photoSix" width="300" height="270" loading="eager"/>
                                        </a>
                                    </div>
            </div>
</MainLayout>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    $(document).ready(function() {
    $.fancybox.defaults.hash = false;
  });
</script>


