---
import { Image } from "astro:assets";
import photoOne from "../img/photoOne.jpeg";
import photoTwo from "../img/photoTwo.jpeg";
import photoFourS from "../img/photoFourS.jpeg";
import photoSix from "../img/photoSix.jpg";
import photoSixS from "../img/photoSixS.jpg";
--- 

<div
  class="slider h-[300px] m-auto relative flex items-center overflow-hidden w-full"
>
  <div class="slider-track flex w-[calc(250px * 18)] animate-scroll ">
    <div class="slide">
      <a href="/galerie">
        <Image src={photoOne} alt="photoOne" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoFourS} alt="photoFourS" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoTwo} alt="photoTwo" width="800" height="800" />
      </a>
    </div>
    <div class="slide !pt-0">
      <a href="/galerie" class="">
        <Image src={photoSixS} alt="photoSixS" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoOne} alt="photoOne" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoFourS} alt="photoFourS" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoTwo} alt="photoTwo" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoSixS} alt="photoSixS" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoOne} alt="photoOne" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoFourS} alt="photoFourS" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoTwo} alt="photoTwo" width="800" height="800" />
      </a>
    </div>
    <div class="slide">
      <a href="/galerie">
        <Image src={photoSix} alt="photoSix" width="800" height="800" />
      </a>
    </div>
  </div>
</div>
